@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Sans+3:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden bg-[#F3F3F3] font-san;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #007eff;
}

textarea,
input {
  @apply outline-none;
}
